#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

p {
  margin: 0;
}

h1 {
  text-align: center;
}

#main-container {
  width: 60vw;
  margin: auto;
}

.search {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 5px;
}

label {
  font-size: 14px;
}

.pokemon-card {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0 25px;
  border-radius: 5px;
}

.pokemon-name {
  padding-right: 25px;
  width: 150px;
  text-align: center;
}

.pokemon-description {
  padding: 25px 0 25px 25px;
  border-left: 1px solid black;
  width: calc(100% - 150px);
}

#create-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 25px;
  margin-bottom: 5px;
}

#create-button {
  margin-top: 25px;
}